body {
  background-color: rgba(237, 239, 238, 255);
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

.logo-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
}

ul {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90%;
  position: relative;
  left: 4%;
  border-radius: 50px;
}

li {
  margin-right: 30px;
  list-style-type: none;
}

.nav-element {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.banner {
  position: relative;
  left: 83px;
  top: 50px;
  width: 90%;
  border-radius: 50px;
}

.promo-banner-contain {
  position: relative;
  left: 7%;
  top: -230px;
}

.promo-title {
  color: white;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 55px;
}

.promo-paragraph {
  width: 450px;
  font-size: 17px;
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat(3, 470px);
  position: relative;
  left: 100px;
  top: -70px;
}

.columns {
  border: none;
  background-color: rgb(244, 229, 214);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  padding-left: 55px;
}

.menu-img {
  width: 300px;
  height: 200px;
  margin-bottom: 25px;
}

.columns-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 800;
}

.columns-paragraph {
  width: 290px;
}

.links {
  margin-top: 5px;
  text-decoration: none;
}

.time-table {
  margin-left: 35px;
}

.footer-logo {
  width: 60px;
  position: relative;
  left: 90px;
  margin: 0;
}

.ruller {
  position: relative;
  top: -75px;
  left: 320px;
  width: 700px;
}

.copyright {
  display: inline-block;
  position: relative;
  left: 1250px;
  top: -70px;
  margin: 0;
}
